.buttonlist{
    background-color: #2507ce81;
    border-color: rgb(145, 5, 238);
    color: white;
    padding: 4px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}
body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 150px;
    margin-left: 450px;
    background-image: linear-gradient(rgb(129, 7, 153), rgba(226, 13, 84, 0.726));
    background-attachment: fixed;
  }
  
  ol, ul {
    padding-left: 0px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: rgba(194, 81, 160, 0);
    border: 1.5px solid black;
    float: left;
    font-size: 30px;
    font-weight: bold;
    line-height: 34px;
    height: 70px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 70px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 30px;
  }
  .chato {
    font-size: 0;
  }
  .status-info {
    font-size: 25px;
    margin-top: -28px;
  }
  